*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  background-color: black;
  color: white;
}

code{
  color: blue;
  font-weight: bolder;
}

span{
  color: rgb(11, 158, 11);
  font-weight: bolder;
}

section{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  background-color: rgb(223, 190, 160);
  color: black;
  margin: 1.0rem;
  padding: 1.0rem;
  text-align: center;
  border-radius: 2.5rem;
}

section > nav{
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

section > nav > a{
  display: inline-block;
  border: 0.1rem solid black;
  padding: 0.5rem;
  border-radius: 2.5rem;
  text-decoration: none;
  margin: 1rem 0rem;
  color: black;
  
}

section > nav > .a1{
  background-color: rgb(159, 248, 218);
}

section > nav > .a2{
  background-color: rgb(189, 150, 185);
}

section > nav > .a3{
  background-color: rgb(212, 115, 147);
}

section > nav > .a4{
  background-color: red;
  color: yellow;

}

section > nav > a:hover{
  background-color: yellow;
}

section > nav > .a4:hover{
  color: black;
}

section > article > h1, h2{
  text-align: center;
}

article{
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-radius: 5rem;
  overflow: hidden;
}

ul{
  background-color: rgb(168, 168, 168);
  margin: 30px 0px;
  text-decoration: none;
  border: 3px solid black;
  list-style: none;
  
}

.intro{
  text-align: center;
}

.intro > ul{
  text-align: justify;
  padding: 2rem;
  background-color: rgb(223, 190, 160);
  border: none;
  list-style: disc;
  margin: 1rem;
}

.intro > h1{
  display: block;
   font-size: 4rem;
   margin-bottom: 2rem;

}

.intro > .link{
  text-align: center;
}

.intro > p{
  padding: 2rem;
}

.intro > .link > a{
  text-decoration: none;
  color: red;
  border: 2px solid red;
  border-radius: 2.5rem;
  padding: 0.5rem;
}

.intro > .link > a:hover{
  background-color: red ;
  color: rgb(223, 190, 160) ;
}

.flex-direction{
background-color: rgb(159, 248, 218);
border: 0.3rem solid black;
}

.flex-direction > h2{
  padding: 1rem;
  border: 0.1rem solid black;
}

.flex-direction > p {
  padding: 1rem;
  text-indent: 3rem;
}

.justify-content{
  background-color: rgb(189, 150, 185);
  border: 0.3rem solid black;
  }
  
  .justify-content > h2{
    padding: 1rem;
    border: 0.1rem solid black;
  }
  
  .justify-content > p {
    padding: 1rem;
    text-indent: 3rem;
  }

  .align-items{
    background-color: rgb(212, 115, 147);
    border: 0.3rem solid black;
    }
    
    .align-items > h2{
      padding: 1rem;
      border: 0.1rem solid black;
    }
    
    .align-items > p {
      padding: 1rem;
      text-indent: 3rem;
    }

    .flex-wrap{
      background-color: rgb(159, 248, 218);
      border: 0.3rem solid black;
      }
      
      .flex-wrap > h2{
        padding: 1rem;
        border: 0.1rem solid black;
      }
      
      .flex-wrap > p {
        padding: 1rem;
        text-indent: 3rem;
      }

      .flex-flow{
        background-color: rgb(189, 150, 185);
        border: 0.3rem solid black;
        }
        
        .flex-flow > h2{
          padding: 1rem;
          border: 0.1rem solid black;
        }
        
        .flex-flow > p {
          padding: 1rem;
          text-indent: 3rem;
        }

        .align-content{
          background-color: rgb(212, 115, 147);
          border: 0.3rem solid black;
          }
          
          .align-content > h2{
            padding: 1rem;
            border: 0.1rem solid black;
          }
          
          .align-content > p {
            padding: 1rem;
            text-indent: 3rem;
          }

          .gap{
            background-color: rgb(159, 248, 218);
            border: 0.3rem solid black;
            }
            
            .gap > h2{
              padding: 1rem;
              border: 0.1rem solid black;
            }
            
            .gap > p {
              padding: 1rem;
              text-indent: 3rem;
            }

            .revisao{
              background-color: rgb(189, 150, 185);
              padding: 1rem;
              border: 0.3rem solid black;
              
            }

            .revisao > h2{
              padding: 1rem;
            }

          
