* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* > img{
  max-width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

body {
  padding-top: 200px;
  background-color: rgb(223, 190, 160);
  color: white;
  width: 100vw;
  height: 100vh;
}

header { 
  background-color: rgb(13, 190, 166);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  z-index: 1000;
}

header > h1{
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  padding: 1rem;
}

header > img{
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 15px;


}

nav{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 50px;
  margin-left: 100px;
  
}

nav > a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 5px;
}

nav > a:hover{
  background-color: yellow;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

code {
  color: blue;
  font-weight: bolder;
}

span {
  color: rgb(11, 158, 11);
  font-weight: bolder;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 900px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  color: black;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 2.5rem;
  transform: translate(-50%, -50%);
}

section > article > h1,
h2 {
  text-align: center;
}

article {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-radius: 5rem;
  text-align: center;
  border: 0.3rem solid black;
}

article > h1{
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
}

article > h2{
  padding: 1rem;
}

article > p{
  padding: 2rem;
  text-indent: 3rem;
}

article > img{
  width: 100%;
  padding: 1rem;
}

ul {
  background-color: rgb(168, 168, 168);
  margin: 30px 0px;
  text-decoration: none;
  border: 3px solid black;
  list-style: none;
  text-align: justify;
  padding: 2rem;
  background-color: rgb(221, 215, 210);
  border: none;
  list-style: disc;
  margin: 1rem;
}

.intro {
  background-color: rgb(255, 255, 255);
}

.flex-direction {
  background-color: rgb(159, 248, 218);
}

.justify-content {
  background-color: rgb(189, 150, 185);
}

.align-items {
  background-color: rgb(212, 115, 147);
}

.flex-wrap {
  background-color: rgb(159, 248, 218);
}

.flex-flow {
  background-color: rgb(189, 150, 185);
}

.align-content {
  background-color: rgb(212, 115, 147);
}

.gap {
  background-color: rgb(159, 248, 218);
}

.revisao {
  background-color: rgb(189, 150, 185);
}

